
h1 {
    font-weight: lighter;
    /*not 100% sure if lighter is the right way to go about making an h1 Helvetica - Regular*/
    font-size: 2rem;
    /*might make this "Latest News" a <p> instead on h1 bc h1 is not specified and is automatically bold, so most likely, this isnt meant to be h1*/
    line-height: 32px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

body {
    /*TYPOGRAPHY*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #413939;

    /*GLOBALS*/
    margin:0; background-color:#F7F1ED;
}

header {
    /*text-align: center;*/
}

header .top-logo img{
    display: block;
    width: 188px;
    /*max-width: 100%;*/
    margin: auto;
    padding-top: 30px;
    padding-bottom: 64px;
}

header .top-title {
    text-align: center;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

header nav ul li{
    padding: 3px;
    text-align: center;
    width: 58px;
    height: 24px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul .inactive-pill{
    border: #413939 solid;
    border-radius: 25px;
}

header nav ul .active-pill {
    border: none;
    border-radius: 25px;
    background-color: #98002E;
    color: #FFFFFF;
    /* padding-top: 6px;
    padding-bottom: 6px; */
}

main {

}

main .top-half img {
    width: 365.5px;
    height: 365.5px;
    margin-bottom: 34px;
}

main .top-half .img-center {
    display: block;
    text-align: center;
}

main .pizza-padding {
    padding-top: 78px;
}

main .mars-padding {
    padding-top: 90px;
}

main .coffee-padding {
    padding-top: 71px;
}

main .bottom-half .img-center {
    display: block;
    text-align: center;
}

main .line-height-top p{
    line-height: 19px;
}

main .line-height-top h2 {
    line-height: 22px;
}

main .line-height-bottom p{
    line-height: 24px;
}

main h2 {
    text-align: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

main p {
    margin: 0;
    text-align: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

main .solid {
    border-top: 1px solid #98002E;
    width: 366px;
    margin-top: 70px;
    margin-bottom: 65px;
}

main .bottom-half {
    background-color: #F4E2D6;
    margin-top: 128px;
    padding-bottom: 64px;
}

main .bottom-half .color-height {
    padding-top: 128px;
}

main .bottom-half img {
    width: 364px;
}

main .classroom-padding {
    padding-bottom: 64px;
}

main .h2-padding {
    padding-top: 48px;
}

main .bottom-half p {
    line-height: 24px;
}

main .bottom-half h2 {
    line-height: 22px;
}

main .button-link-bottom {
    background-color: #98002E;
    border: 2px #98002E solid;
    border-radius: 25px;
    width: 364px;
    height: 50px;
    margin: auto;
    margin-top: 67px;
}

main .button-link-bottom a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 4%
}

footer {
    background-color: #98002E;
}

footer img {
    display: block;
    width: 188px;
    /*max-width: 100%;*/
    margin: auto;
    padding-top: 30px;
}

footer p {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 24px;
    margin-bottom: 0;
}