
h1 {
    font-weight: lighter;
    /*not 100% sure if lighter is the right way to go about making an h1 Helvetica - Regular*/
    font-size: 2rem;
    /*might make this "Latest News" a <p> instead on h1 bc h1 is not specified and is automatically bold, so most likely, this isnt meant to be h1*/
    line-height: 32px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

body {
    /*TYPOGRAPHY*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #413939;

    /*GLOBALS*/
    margin:0; background-color:#F7F1ED;
}

header {
    /*text-align: center;*/
}

header .top-logo img{
    display: block;
    width: 188px;
    /*max-width: 100%;*/
    margin: auto;
    padding-top: 30px;
    padding-bottom: 64px;
}

header .top-title {
    text-align: center;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

header nav ul li{
    text-align: center;
    width: 58px;
    height: 24px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

header nav ul li a{
    color:#413939;
    text-decoration: none;
    background-color: none;
}

header nav ul .inactive-pill{
    border: #413939 solid;
    border-radius: 25px;
}

header nav ul .active-pill a {
    color: #FFFFFF;
}

header nav ul .active-pill {
    border: none;
    border-radius: 25px;
    background-color: #98002E;
}

/* header a:active {
    padding: 3px;
    text-align: center;
    width: 58px;
    height: 24px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: #98002E;
    color: #FFFFFF;

    here is my code for the active state but for this I just kept the tech section red because it is the one that is selected
  } */

main {

}

main .top-half img {
    width: 365.5px;
    height: 365.5px;
    margin-bottom: 34px;
}

main .top-half .img-center {
    display: block;
    text-align: center;
}

main .pizza-padding {
    padding-top: 78px;
}

main .mars-padding {
    padding-top: 90px;
}

main .coffee-padding {
    padding-top: 71px;
}

main .bottom-half .img-center {
    display: block;
    text-align: center;
}

main .top-half p{
    line-height: 19px;
}

main .top-half h2 {
    line-height: 22px;
}

main .line-height-bottom p{
    line-height: 24px;
}

main h2 {
    text-align: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

main p {
    margin: 0;
    text-align: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

main .solid {
    border-top: 1px solid #98002E;
    width: 366px;
    margin-top: 70px;
    margin-bottom: 65px;
}

main .bottom-half {
    background-color: #F4E2D6;
    margin-top: 128px;
    padding-bottom: 64px;
}

main .bottom-half .color-height {
    padding-top: 128px;
}

main .bottom-half img {
    width: 364px;
}

main .classroom-padding {
    padding-bottom: 64px;
}

main .h2-padding {
    padding-top: 48px;
}

main .bottom-half p {
    line-height: 24px;
}

main .bottom-half h2 {
    line-height: 22px;
}

main .button-link-bottom {
    background-color: #98002E;
    border: 2px #98002E solid;
    border-radius: 25px;
    width: 364px;
    height: 50px;
    margin: auto;
    margin-top: 67px;
    margin-bottom: 15px;
}

main .button-link-bottom a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 4%
}

footer {
    background-color: #98002E;
}

footer img {
    display: block;
    width: 188px;
    /*max-width: 100%;*/
    margin: auto;
    padding-top: 30px;
}

footer p {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 24px;
    margin-bottom: 0;
}

@media screen and (min-width: 1320px) {
    .grid {
        display: grid;
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; */
        grid-template: 2fr / 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 150px;
    }
    
    .grid-item-1 {
        grid-column: 1;
        margin-left: 34px;
    }

    .grid-item-2 {
        grid-column: 2 / 4;
    }

    .grid-item-3 {
        grid-column: 1;
    }

    .grid-item-4 {
        grid-column: 2;
    }

    .grid-item-5 {
        grid-column: 2;
    }

    body {
        /* max-width: 1200px; */
        margin: 0;
        background-image: url("/images/icon-computer.png");
        background-repeat: no-repeat;
        background-position-x:right;
        background-position-x: 90%;
        background-position-y: 3%;
        background-size: 30%;
    }

    h1 {
        font-size: 3rem;
        line-height: 58px;
    }
    
    h2 {
        font-size: 28px;
    }

    header .top-logo img{
        width: 400px;
        padding-top: 96px;
        margin-left: 34px;
        padding-bottom: 32px;
    }

    header .top-title {
        margin-left: 34px;
        text-align: left;
    }
    
    header nav ul{
        display: flex;
        list-style: none;
        justify-content: flex-start;
        padding: 0;
        margin-left: 34px;
        width: 206px;
    }
    
    header nav ul li {
        margin-right: 16px;
    }
    
    header nav ul li a{
        color:#413939;
        text-decoration: none;
        background-color: none;
        text-align: center;
        width: 58px;
        height: 24px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .top-half img {
        width: 365.5px;
        height: 365.5px;
        margin-bottom: 34px;
    }

    main .top-half .pizza {
        width: 727px;
        height: 635px;
        padding-right: 40px;
    }

    main .top-half .img-center {
        text-align: center;
    }

    main .pizza-padding {
        padding-top: 0;
    }

    main .mars-padding {
        padding: 0;
        margin-top: 40px;
        margin-left: 35px;
    }

    main .coffee-padding {
        padding: 0;
        margin-top: 40px;
    }

    main .solid {
        display: none;
    }
    
    main .top-half p{
        line-height: 24px;
    }
    
    main .top-half h2 {
        line-height: 34px;
    }
    
    main h2 {
        margin-top: 33px;
        margin-left: 0;
        margin-right: 0;
    }
    
    main .h2-margin {
        margin-left: 35px;
    }

    main p {
        margin-left: 0;
        margin-right: 0;
    }

    main .p-margin {
        margin-left: 35px;
    }

    main .bottom-half img {
        width: 750px;
    }

    main .bottom-half h2 {
        line-height: 34px;
    }

    main .classroom-padding {
        padding-bottom: 0px;
    }
    
    main .h2-padding {
        padding-top: 0px;
    }

    .grid-2 {
        display: grid;
        grid-template: auto/ 1fr;
        gap: 2rem;
        margin-top: 150px;
    }

    .grid-item-bottom-1 {
        width: 62.5%;
        justify-self: center;
    }

    .grid-item-bottom-2 {
        height: 524px;
    }

    .grid-item-bottom-3 {
        justify-self: center;
        width: 62.5%;
    }

    .grid-item-bottom-4 {
        justify-self: center;
        width: 62.5%;
    }

    .grid-item-bottom-5 {
        justify-self: center;
        width: 60%;
        margin-right: 33px;
    }

}

@media screen and (min-width: 1920px) {

    .grid {
        display: grid;
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; */
        grid-template: 2fr / 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 150px;
    }
    
    .grid-item-1 {
        grid-column: 1;
        margin-left: 260px;
    }

    .grid-item-2 {
        grid-column: 2;
    }

    .grid-item-3 {
        grid-column: 3;
    }

    .grid-item-4 {
        grid-column: 2;
    }

    .grid-item-5 {
        grid-column: 1;
    }

    header .top-logo img{
        width: 600px;
        /*max-width: 100%;*/
        margin-left: 260px;
        padding-top: 130px;
        padding-bottom: 64px;
    }

    header .top-title {
        margin-left: 260px;
    }

    header nav ul{
        margin-left: 260px;
    }

    main .top-half img {
        margin-bottom: 34px;
    }

    main .top-half .micro {
        width: 326px;
        height: 325px;
    }

    main .top-half .pizza {
        width: 505px;
        height: 503px;
    }
    
    main .top-half .mars {
        width: 505px;
        height: 505px;
    }

}